Debug/
.vs/
x64/Release/ZLetter.obj
x64/Release/VLetter.obj
x64/Release/SnakeRevival.tlog/SnakeRevival.write.1u.tlog
x64/Release/SnakeRevival.tlog/SnakeRevival.lastbuildstate
x64/Release/SnakeRevival.tlog/CL.write.1.tlog
x64/Release/SnakeRevival.tlog/CL.read.1.tlog
x64/Release/SnakeRevival.tlog/CL.command.1.tlog
x64/Release/SnakeRevival.tlog/link.write.1.tlog
x64/Release/SnakeRevival.tlog/link.read.1.tlog
x64/Release/YLetter.obj
x64/Release/XLetter.obj
x64/Release/WormBody.obj
x64/Release/WLetter.obj
x64/Release/SnakeRevival.tlog/link.command.1.tlog
x64/Release/vc141.pdb
x64/Release/pch.obj
x64/Release/VerticalLayout.obj
x64/Release/SnakeRevival.log
x64/Release/SnakeRevival.ipdb
x64/Release/IActionListener.obj
x64/Release/HorizontalLayout.obj
x64/Release/HLetter.obj
x64/Release/Fruit.obj
x64/Release/Draw.obj
x64/Release/DisplayBuffer.obj
x64/Release/Display.obj
x64/Release/DLetter.obj
x64/Release/Level1.obj
x64/Release/LayerLayout.obj
x64/Release/LLetter.obj
x64/Release/KLetter.obj
x64/Release/GotoLevel1Action.obj
x64/Release/CLetter.obj
x64/Release/BLetter.obj
x64/Release/ALetter.obj
x64/Release/QLetter.obj
x64/Release/Page.obj
x64/Release/PLetter.obj
x64/Release/OLetter.obj
x64/Release/JLetter.obj
x64/Release/Frame.obj
x64/Release/FLetter.obj
x64/Release/ELetter.obj
x64/Release/SoundManager.obj
x64/Release/SnakeRevivalGameLoop.obj
x64/Release/SnakeRevival.pdb
x64/Release/SnakeRevival.pch
x64/Release/NLetter.obj
x64/Release/MainMenu.obj
x64/Release/MLetter.obj
x64/Release/GotoGameOverAction.obj
x64/Release/GameOver.obj
x64/Release/GLetter.obj
x64/Release/SPACELetter.obj
x64/Release/SLetter.obj
x64/Release/RLetter.obj
x64/Release/QuitAction.obj
x64/Release/InputManager.obj
x64/Release/ILetter.obj
x64/Release/GotoMainMenuAction.obj
x64/Release/ULetter.obj
x64/Release/Text.obj
x64/Release/TLetter.obj
x64/Release/SnakeRevival.iobj
x64/Release/SnakeRevival.exe
x64/Release/IEntity.obj
x64/Release/LevelFrame.obj
x64/Release/Spider.obj
